{% extends "base.html" %}

{% block content %}
    <div class="panel right">
        <h1>Tweet Now</h1>
        <p>
            <form action="/submit" method="post">
            {% for field in k_twitter_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="tweet">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>All Profiles</h1>
        {% for user, k_twitter in obj %}
        <div class="k_twitterWrapper">
            <a href="/users/{{ user.username }}">
             <span class="name">{{ user.first_name }}</span>
            </a>
            @{{ user.username }}
            <p>
                {{ user.k_twitter_count}} tweets
                <span class="spacing">{{ user.profile.followed_by.count }} Followers</span>
                <span class="spacing">{{ user.profile.follows.count }} Following</span>
            </p>
            <p>{{ k_twitter.content }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
