{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="panel right">
        <h1>Tweet Now</h1>
        <p>
            <form action="/submit" method="post">
            {% for field in k_twitter_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="hidden" value="{{ next_url }}" name="next_url">
            <input type="submit" value="tweet">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>Friends' tweets</h1>
        {% for k_twitter in k_twitters %}
        <div class="k_twitterWrapper">
            <a href="/users/{{ k_twitter.user.username }}">
                <img class="avatar" src="{{ k_twitter.user.profile.gravatar_url }}">
                <span class="name">{{ k_twitter.user.first_name }}</span>
            </a>
            @{{ k_twitter.user.username }}
            <p>
                {{ k_twitter.content }}
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
